In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('IMDB_popularity_80_19.csv')
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"<span class=""genre"">\nComedy, Drama, Horror ...",1980
1,09,"<span class=""genre"">\nDrama </span>",1980
2,Sin pecado,"<span class=""genre"">\nDrama, Fantasy, Mystery ...",1980
3,Paper Ketchup,"<span class=""genre"">\nComedy, Musical, Romance...",1980
4,You Used to Be Beautiful,"<span class=""genre"">\nComedy, Drama, Romance ...",1980

In [3]:
df['genre']=df['genre'].map(lambda x: str(x))
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"<span class=""genre"">\nComedy, Drama, Horror ...",1980
1,09,"<span class=""genre"">\nDrama </span>",1980
2,Sin pecado,"<span class=""genre"">\nDrama, Fantasy, Mystery ...",1980
3,Paper Ketchup,"<span class=""genre"">\nComedy, Musical, Romance...",1980
4,You Used to Be Beautiful,"<span class=""genre"">\nComedy, Drama, Romance ...",1980

In [4]:
df['genre']=df['genre'].map(lambda x: x.split())
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"[<span, class=""genre"">, Comedy,, Drama,, Horro...",1980
1,09,"[<span, class=""genre"">, Drama, </span>]",1980
2,Sin pecado,"[<span, class=""genre"">, Drama,, Fantasy,, Myst...",1980
3,Paper Ketchup,"[<span, class=""genre"">, Comedy,, Musical,, Rom...",1980
4,You Used to Be Beautiful,"[<span, class=""genre"">, Comedy,, Drama,, Roman...",1980

In [5]:
df['genre']=df['genre'].map(lambda x: x[2:-1])
df.head()

                                   name                         genre  year
0  Mondo Sexxxx: The Terry Kobrah Story     [Comedy,, Drama,, Horror]  1980
1                                    09                       [Drama]  1980
2                            Sin pecado   [Drama,, Fantasy,, Mystery]  1980
3                         Paper Ketchup  [Comedy,, Musical,, Romance]  1980
4              You Used to Be Beautiful    [Comedy,, Drama,, Romance]  1980

In [6]:
df.set_index('name', inplace=True)
df.head()

                                                             genre  year
name
Mondo Sexxxx: The Terry Kobrah Story     [Comedy,, Drama,, Horror]  1980
09                                                         [Drama]  1980
Sin pecado                             [Drama,, Fantasy,, Mystery]  1980
Paper Ketchup                         [Comedy,, Musical,, Romance]  1980
You Used to Be Beautiful                [Comedy,, Drama,, Romance]  1980

In [7]:
def no_comma(genre_movie):
    new_genre_movie = []
    for i in genre_movie:
        if ',' in i:
            new_genre_movie.append(i[:-1])
        else:
            new_genre_movie.append(i)
    return new_genre_movie

In [8]:
df['genre'] = df['genre'].map(lambda x: no_comma(x))

In [13]:
df.columns

Index(['genre', 'year'], dtype='object')

In [12]:
df.to_csv('clean_IMDB_popularity.csv', index=True, header=True)