In [2]:
# Import necessary packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
#Works
def get_IMDB_names(url):
    rn = requests.get(url)
    soup = BeautifulSoup(rn.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    names = []
    for container in movie_containers:
# Extract:
# The name
        name = container.select('img')[0]['alt']
        names.append(name)
    return names

In [4]:
def get_IMDB_years(url):
    ry = requests.get(url)
    soup = BeautifulSoup(ry.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    years = []
    for container in movie_containers:
        # The year
        year = container.find('span', class_ = 'lister-item-year').text
        year = str(year)
        years.append(year)
        year = str(year)
        year = year[1:5]
    return years

In [16]:
def get_IMDB_genres(url):
    rg = requests.get(url)
    soup = BeautifulSoup(rg.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    genre_array = []
    for container in movie_containers:
        genres = container.find('span', class_ ='genre')
        if genres:
            genre_array.append([genres.text.strip()])
        else:
            genre_array.append('None')
    return genre_array
#list = get_IMDB_genres('https://www.imdb.com/search/title/?title_type=feature&release_date=1980-01-01,1980-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250')

In [10]:
#function that will get the violence grade for a year
def get_IMDB_table_popularity(year):
    url = 'https://www.imdb.com/search/title/?title_type=feature&release_date='+ str(year)+'-01-01,'+str(year)+'-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250')
    names = get_IMDB_names(url)
    #years = get_IMDB_years(url)
    genres = get_IMDB_genres(url)
    initial_df = pd.DataFrame({'name': names, 'genre': genres})
    #turn BS elements into strings
    initial_df['genre']=initial_df['genre'].map(lambda x: str(x))
    # add a year column             
    years = [year]*len(initial_df)
    initial_df['year'] = years
    return initial_df
get_IMDB_table_popularity(1980)

                                     name                          genre  year
0    Mondo Sexxxx: The Terry Kobrah Story      ['Comedy, Drama, Horror']  1980
1                                      09                      ['Drama']  1980
2                              Sin pecado    ['Drama, Fantasy, Mystery']  1980
3                           Paper Ketchup   ['Comedy, Musical, Romance']  1980
4                You Used to Be Beautiful     ['Comedy, Drama, Romance']  1980
..                                    ...                            ...   ...
245                    Discouraging Words              ['Comedy, Drama']  1980
246                              Anikruya  ['Action, Adventure, Family']  1980
247               The Last Dudes on Earth             ['Comedy, Sci-Fi']  1980
248                                Sunset                      ['Drama']  1980
249                    Homer and Penelope                           None  1980

[250 rows x 3 columns]

In [ ]:
pieces = []
for year in [*range(1980,2019,1)]:
    popularity_df= get_IMDB_table_popularity(year)
    pieces.append(popularity_df)
df_popularity_all = pd.concat(pieces)
#df_popularity_all.to_csv('IMDB_popularity_80_19.csv', index=False, header = True)

In [ ]:
df_popularity_all.to_csv('IMDB_popularity_80_19.csv', index=False, header = True)

In [ ]:
popularity_df.head()

In [148]:
df = pd.read_csv('IMDB_popularity_80_19.csv')
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"<span class=""genre"">\nComedy, Drama, Horror ...",1980
1,09,"<span class=""genre"">\nDrama </span>",1980
2,Sin pecado,"<span class=""genre"">\nDrama, Fantasy, Mystery ...",1980
3,Paper Ketchup,"<span class=""genre"">\nComedy, Musical, Romance...",1980
4,You Used to Be Beautiful,"<span class=""genre"">\nComedy, Drama, Romance ...",1980

In [149]:
df['genre']=df['genre'].map(lambda x: str(x))
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"<span class=""genre"">\nComedy, Drama, Horror ...",1980
1,09,"<span class=""genre"">\nDrama </span>",1980
2,Sin pecado,"<span class=""genre"">\nDrama, Fantasy, Mystery ...",1980
3,Paper Ketchup,"<span class=""genre"">\nComedy, Musical, Romance...",1980
4,You Used to Be Beautiful,"<span class=""genre"">\nComedy, Drama, Romance ...",1980

In [150]:
df['genre']=df['genre'].map(lambda x: x.split())
df.head()

,name,genre,year
0,Mondo Sexxxx: The Terry Kobrah Story,"[<span, class=""genre"">, Comedy,, Drama,, Horro...",1980
1,09,"[<span, class=""genre"">, Drama, </span>]",1980
2,Sin pecado,"[<span, class=""genre"">, Drama,, Fantasy,, Myst...",1980
3,Paper Ketchup,"[<span, class=""genre"">, Comedy,, Musical,, Rom...",1980
4,You Used to Be Beautiful,"[<span, class=""genre"">, Comedy,, Drama,, Roman...",1980

In [152]:
df['genre']=df['genre'].map(lambda x: x[2:-1])
df.head()

                                   name                         genre  year
0  Mondo Sexxxx: The Terry Kobrah Story     [Comedy,, Drama,, Horror]  1980
1                                    09                       [Drama]  1980
2                            Sin pecado   [Drama,, Fantasy,, Mystery]  1980
3                         Paper Ketchup  [Comedy,, Musical,, Romance]  1980
4              You Used to Be Beautiful    [Comedy,, Drama,, Romance]  1980

In [162]:
genre_movie = df['genre'][0]
genre_movie

['Comedy,', 'Drama,', 'Horror']

In [163]:
list_year_no_comma = []
            for item in list_year:
                if ',' in item:
                        list_year_no_comma.append(item[:-1])
                else:
                            list_year_no_comma.append(item)

['Comedy,', 'Drama,', 'Horror']

In [ ]:
#df['genre']=df['genre'].map(lambda x: x.lower()) 
#df.head()

second_work_str = work_list[2:-1]
second_work_str

second_work_str[0][4:-8]

def garbage_off(rough_list):
    genre_list = []
    for item in rough_list:
            if 'span' in item:
                continue
            elif 'class' in item:
                continue
            else:
                to_use_list.append(item)
print(garbage_off(work_list))

In [ ]:
def flatten_genre(df):
    print('test2')     
    flatten_df = df['Genre'].apply(pd.Series) \         
    .merge(df, right_index = True, left_index = True) \         
    .drop(['Genre'], axis = 1) \        
    .melt(id_vars = df.columns.drop('Genre'), value_name = "Genre") \       
    .drop("variable", axis = 1) \         .dropna(subset=['Genre'])    
    print('test')     return flatten_df