In [2]:
# Import necessary packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [10]:
df_genres_IMDB = pd.read_csv('IMDB_genres_1980_2019.csv')
df_genres_IMDB
#grouped = df_genres_IMDB.groupby('Genres')

        Genres  Genre_count  Year
0     thriller            2  1980
1       horror            2  1980
2    adventure           27  1980
3        drama           87  1980
4       comedy          108  1980
..         ...          ...   ...
575      sport            1  2019
576  animation            9  2019
577    romance            6  2019
578  biography            1  2019
579    western            1  2019

[580 rows x 3 columns]