In [3]:
# Import necessary packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
#Function that will scrape a wikipedia page with a list of movies by year, add the year as a new column and return 
# a data frame.

def get_table_after_1996(year):
    #create the url 
    url = 'http://en.wikipedia.org/wiki/List_of_American_films_of_'+ str(year)
    html = urlopen(url) 
    soup = BeautifulSoup(html, 'html.parser')
    website_url = requests.get(url).text 
    soup = BeautifulSoup(website_url, 'lxml')
    My_table = soup.find('table',{'class':'wikitable sortable'})
    titles = []
    directors = []
    actors = []
    genres = []
    rows = My_table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        if len(cells)>=1:
            title = cells[0]
            titles.append(title.text)
            director = cells[1]
            directors.append(director.text)
            actor = cells[2]
            actors.append(actor.text)
            genre = cells[3]
            genres.append(genre.text)
            index = [*range(1,len(titles)+1,1)]
            df = pd.DataFrame({'Titles': titles,'Directors' : directors, 'Actors': actors, 'Genres': genres, }, index = index   )
            years = [year]*len(df)
            df['Year'] = years
    return df

In [5]:
df_1997 = get_table_after_1996(1997)
df_1997

,Titles,Directors,Actors,Genres,Year
1,…First Do No Harm,Jim Abrahams,"Meryl Streep, Fred Ward",Drama,1997
2,12 Angry Men,William Friedkin,"Jack Lemmon, George C. Scott, James Gandolfini...",Drama,1997
3,"20,000 Leagues Under the Sea",Michael Anderson,"Ben Cross, Richard Crenna",Adventure,1997
4,"20,000 Leagues Under the Sea",Rod Hardy,"Michael Caine, Patrick Dempsey",Adventure,1997
5,4 Little Girls,Spike Lee,,Documentary,1997
6,8 Heads in a Duffel Bag,Tom Schulman,"Joe Pesci, Andy Comeau, Kristy Swanson, David ...",Black comedy,1997
7,Aberration,Tim Boxell,Pamela Gidley,Horror,1997
8,Absolute Power,Clint Eastwood,"Clint Eastwood, Gene Hackman, Ed Harris, Laura...",Crime drama,1997
9,Addicted to Love,Griffin Dunne,"Meg Ryan, Matthew Broderick, Kelly Preston, Tc...",Comedy,1997
10,Afterglow,Alan Rudolph,"Nick Nolte, Julie Christie, Lara Flynn Boyle, ...",Drama,1997
11,Against the Law,Jim Wynorski,"Nancy Allen, Nick Mancuso",Action,1997
12,Air Force One,Wolfgang Petersen,"Harrison Ford, Gary Oldman, Glenn Close, Wendy...",Thriller,1997
13,The Alarmist,Evan Dunsky,"David Arquette, Kate Capshaw, Stanley Tucci",Comedy,1997
14,Alaska: Spirit of the Wild,George Casey,Alaska,Documentary,1997
15,Albino Alligator,Kevin Spacey,"Matt Dillon, Faye Dunaway, Gary Sinise, Joe Ma...",Suspense,1997
16,Alien Resurrection,Jean-Pierre Jeunet,"Sigourney Weaver, Winona Ryder, Ron Perlman, D...",Science fiction,1997
17,Alien Nation: The Udara Legacy,Kenneth Johnson,Gary Graham,Science fiction,1997
18,All Over Me,Alex Sichel,"Alison Folland, Tara Subkoff",,1997
19,American Perfekt,Paul Chart,"Fairuza Balk, Robert Forster, Amanda Plummer",Drama,1997
20,An Alan Smithee Film: Burn Hollywood Burn,Arthur Hiller,"Ryan O'Neal, Eric Idle, Coolio",Comedy,1997
21,An American Werewolf in Paris,Anthony Waller,"Tom Everett Scott, Julie Delpy, Vince Vieluf, ...",Horror,1997
22,Amistad,Steven Spielberg,"Morgan Freeman, Anthony Hopkins, Djimon Hounso...",Drama,1997
23,Anaconda,Luis Llosa,"Jennifer Lopez, Jon Voight, Ice Cube, Eric Sto...",Horror,1997
24,Anastasia,"Don Bluth, Gary Goldman","Meg Ryan, John Cusack, Kelsey Grammer, Hank Az...",Animated film,1997
25,Angels in the Endzone,Gary Nadeau,"Christopher Lloyd, Paul Dooley","Fantasy, Sports",1997
26,Anna Karenina,Bernard Rose,"Sophie Marceau, Sean Bean",Drama,1997
27,Anthem to Beauty,Jeremy Marre,Grateful Dead,Documentary,1997
28,The Apostle,Robert Duvall,"Robert Duvall, Miranda Richardson, Farrah Fawc...",Drama,1997
29,As Good as It Gets,James L. Brooks,"Jack Nicholson, Helen Hunt, Greg Kinnear, Cuba...",Romantic comedy,1997
30,The Assignment,Christian Duguay,"Aidan Quinn, Ben Kingsley",Drama,1997
31,Asteroid,Bradford May,"Michael Biehn, Annabella Sciorra, Zachary Char...",Science fiction,1997
32,Austin Powers: International Man of Mystery,Jay Roach,"Mike Myers, Elizabeth Hurley, Michael York, Ro...",Spy comedy,1997

In [99]:
pieces = []
for year in [*range(1999,2002,1)]:
    url = 'http://en.wikipedia.org/wiki/List_of_American_films_of_'+ str(year)
    df = get_table_after_1996(year)
    pieces.append(df)
df_all_b2001 = pd.concat(pieces)

In [101]:
df_by_genre = df_all_b2001.groupby(['Year', 'Genres']).count().drop(['Directors', 'Actors'], axis=1)
df_by_genre

                     Titles
Year Genres
1999                      1
     Action              10
     Action Comedy        1
     Action comedy        1
     Action, Comedy       3
...                     ...
2001 Thriller            14
     War                  5
     War drama            1
     Western              1
     parody               1

[126 rows x 1 columns]