In [1]:
# Import necessary packages
import requests
import urllib.request
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
list_of_genres = ['children', 'fantasy', 'action', 'crime', 'drama', 'Sci-Fi', 'adventure', 'biography', 'comedy', 'thriller', 'musical', 'western', 'romance', 'war', 'horror', 'sport', 'history', 'family', 'biography']

conflict_grades = {'children':3, 'fantasy':3, 'action':7, 'crime':9, 'drama':4, 'Sci-Fi':8, 'adventure':7, 'biography':5, 'comedy':4, 'thriller':7, 'musical':4, 'western':8, 'romance':3, 'war':10, 'horror':10, 'sport':4, 'history':6, 'family':3}
conflict_grades_df = pd.DataFrame(conflict_grades.items(), columns=['Genres', 'Grade'])
#war_grades_df.set_index('Genres')
len(list_of_genres)

19

#Works
def get_IMDB_names(url):
    rn = requests.get(url)
    soup = BeautifulSoup(rn.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    names = []
    for container in movie_containers:
# Extract:
# The name
        name = container.select('img')[0]['alt']
        names.append(name)
    return names

def get_IMDB_years(url):
    ry = requests.get(url)
    soup = BeautifulSoup(ry.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    years = []
    for container in movie_containers:
        # The year
        year = container.find('span', class_ = 'lister-item-year').text
        year = str(year)
        years.append(year)
        year = str(year)
        year = year[1:5]
    return years

def no_comma(genre_movie):
    new_genre_movie = []
    for i in genre_movie:
        if ',' in i:
            new_genre_movie.append(i[:-1])
        else:
            new_genre_movie.append(i)
    return new_genre_movie

#For Zeitgeist
def get_IMDB_genres(url):
    rg = requests.get(url)
    soup = BeautifulSoup(rg.text, 'html.parser')
    genre = soup.find_all('span', class_= 'genre')
    genre_array = []
    for g in genre:
        genre_array.append(str(g.get_text()[1:].rstrip()))
    return genre_array
#f = get_IMDB_genres('https://www.imdb.com/search/title/?title_type=feature&release_date=1980-01-01,1980-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250')
#print(f)

In [3]:
def get_IMDB_genres(url):
    rg = requests.get(url)
    soup = BeautifulSoup(rg.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    genre_array = []
    for container in movie_containers:
        genres = container.find('span', class_ ='genre')
        if genres:
            genre_array.append(genres.text.strip())
        else:
            genre_array.append('None')
    return genre_array

In [4]:
#f = get_IMDB_genres('https://www.imdb.com/search/title/?title_type=feature&release_date=1981-01-01,1981-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250')

action_count = 0
for item in f:
    if 'Action' in item:
        action_count += 1
print(action_count)

children_count = 0
for item in f:
    if 'Children' in item:
        children_count += 1
print(children_count)

comedy_count = 0
for item in f:
    if 'Comedy' in item:
        comedy_count += 1
print(comedy_count)

adventure_count = 0
for item in f:
    if 'Adventure' in item:
        adventure_count += 1
print(adventure_count)

drama_count = 0
for item in f:
    if 'Drama' in item:
        drama_count += 1
print(drama_count)

romance_count = 0
for item in f:
    if 'Romance' in item:
        romance_count += 1
print(romance_count)

western_count = 0
for item in f:
    if 'Western' in item:
        western_count += 1
print(western_count)

thriller_count = 0
for item in f:
    if 'Thriller' in item:
        thriller_count += 1
print(thriller_count)

horror_count = 0
for item in f:
    if 'Horror' in item:
        horror_count += 1
print(horror_count)

crime_count = 0
for item in f:
    if 'Crime' in item:
        crime_count += 1
print(crime_count)

scifi_count = 0
for item in f:
    if 'Sci' in item:
        scifi_count += 1
print(scifi_count)

family_count = 0
for item in f:
    if 'Family' in item:
        family_count += 1
print(family_count)

history_count = 0
for item in f:
    if 'History' in item:
        history_count += 1
print(history_count)

war_count = 0
for item in f:
    if 'War' in item:
        war_count += 1
print(war_count)

fantasy_count = 0
for item in f:
    if 'Fantasy' in item:
        fantasy_count += 1
print(fantasy_count)

sport_count = 0
for item in f:
    if 'Sport' in item:
        sport_count += 1
print(sport_count)

musical_count = 0
for item in f:
    if 'Musical' in item:
        musical_count += 1
print(musical_count)

genre_counts = {'children':children_count, 'fantasy':fantasy_count, 'action':action_count, 'crime':crime_count, 'drama':drama_count, 'Sci-Fi':scifi_count, 'adventure':adventure_count, 'comedy':comedy_count, 'thriller':thriller_count, 'musical':musical_count, 'western':western_count, 'romance':romance_count, 'war':war_count, 'horror':horror_count, 'sport':sport_count, 'history':history_count, 'family':family_count }
genre_counts

In [5]:
#function that will get the violence grade for a year
def get_IMDB_genre_popularity(year):
    url = 'https://www.imdb.com/search/title/?title_type=feature&release_date='+str(year)+'-01-01,'+str(year)+'-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250'
    f = get_IMDB_genres(url)
    action_count = 0
    for item in f:
        if 'Action' in item:
            action_count += 1
    comedy_count = 0
    for item in f:
        if 'Comedy' in item:
            comedy_count += 1 
    adventure_count = 0
    for item in f:
        if 'Adventure' in item:
            adventure_count += 1
    drama_count = 0
    for item in f:
        if 'Drama' in item:
            drama_count += 1
    romance_count = 0
    for item in f:
        if 'Romance' in item:
            romance_count += 1  
    western_count = 0
    for item in f:
        if 'Western' in item:
            western_count += 1
    thriller_count = 0
    for item in f:
        if 'Thriller' in item:
            thriller_count += 1
    horror_count = 0
    for item in f:
        if 'Horror' in item:
            horror_count += 1
    crime_count = 0
    for item in f:
        if 'Crime' in item:
            crime_count += 1
    scifi_count = 0
    for item in f:
        if 'Sci' in item:
            scifi_count += 1
    family_count = 0
    for item in f:
        if 'Family' in item:
            family_count += 1
    history_count = 0
    for item in f:
        if 'History' in item:
            history_count += 1
    war_count = 0
    for item in f:
        if 'War' in item:
            war_count += 1
    fantasy_count = 0
    for item in f:
        if 'Fantasy' in item:
            fantasy_count += 1
    sport_count = 0
    for item in f:
        if 'Sport' in item:
            sport_count += 1
    musical_count = 0
    for item in f:
        if 'Musical' in item:
            musical_count += 1
    genre_counts = {'fantasy':fantasy_count,
                    'action':action_count,
                    'crime':crime_count,
                    'drama':drama_count,
                    'Sci-Fi':scifi_count,
                    'adventure':adventure_count,
                    'comedy':comedy_count,
                    'thriller':thriller_count,
                    'musical':musical_count,
                    'western':western_count,
                    'romance':romance_count,
                    'war':war_count,
                    'horror':horror_count,
                    'sport':sport_count,
                    'history':history_count,
                    'family':family_count }
    df_to_plot = pd.DataFrame(genre_counts.items(), columns=['Genres', 'Genre_count'])
    years = [year]*len(df_to_plot)
    df_to_plot['year'] = years
    return df_to_plot
#df = get_IMDB_genre_popularity(2015)
#df

def get_IMDB_genres(url):
    rg = requests.get(url)
    soup = BeautifulSoup(rg.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    genre_array = []
    for container in movie_containers:
        genres = container.find('span', class_ ='genre')
        if genres:
            genre_array.append([genres.text.strip()])
        else:
            genre_array.append('None')
    return genre_array
f = get_IMDB_genres('https://www.imdb.com/search/title/?title_type=feature&release_date=1980-01-01,1980-12-31&user_rating=5.0,10.0&countries=us&sort=moviemeter,desc&count=250')

pieces = []
for year in [*range(1980,2000,1)]:
    popularity_df= get_IMDB_genre_popularity(year)
    pieces.append(popularity_df)
df_popularity_all = pd.concat(pieces)
#df_popularity_all.to_csv('IMDB_popularity_80_19.csv', index=False, header = True)

In [16]:
pieces = []
for year in [*range(1980,2020,1)]:
    df= get_IMDB_genre_popularity(year)
    pieces.append(df)
df_all = pd.concat(pieces)
df_all

     Genres  Genre_count  year
0   fantasy            8  1980
1    action           34  1980
2     crime           26  1980
3     drama           96  1980
4    Sci-Fi           12  1980
..      ...          ...   ...
11      war            1  2019
12   horror           43  2019
13    sport            2  2019
14  history            1  2019
15   family            7  2019

[640 rows x 3 columns]

In [17]:
df_all.to_csv('Final_genres_IMDB.csv', index=False, header = True)

In [30]:
len(df_all)

640

In [31]:
df_genres = df_all.groupby('Genres')
df_genres.head(2)

       Genres  Genre_count  year
0     fantasy            8  1980
1      action           34  1980
2       crime           26  1980
3       drama           96  1980
4      Sci-Fi           12  1980
5   adventure           24  1980
6      comedy           75  1980
7    thriller           23  1980
8     musical            3  1980
9     western            5  1980
10    romance           24  1980
11        war            4  1980
12     horror           19  1980
13      sport            3  1980
14    history            3  1980
15     family            6  1980
0     fantasy            8  1981
1      action           31  1981
2       crime           26  1981
3       drama           92  1981
4      Sci-Fi            7  1981
5   adventure           26  1981
6      comedy           54  1981
7    thriller           32  1981
8     musical            6  1981
9     western            4  1981
10    romance           18  1981
11        war            2  1981
12     horror           32  1981
13      sport            4  1981
14    history            6  1981
15     family            7  1981

In [36]:
import sqlite3
conn = sqlite3.connect('genres.db')
df_all.to_sql('Genres', conn, if_exists='replace', index=False)
pd.read_sql('Select * from Genres', conn)

      Genres  Genre_count  year
0    fantasy            8  1980
1     action           34  1980
2      crime           26  1980
3      drama           96  1980
4     Sci-Fi           12  1980
..       ...          ...   ...
635      war            1  2019
636   horror           43  2019
637    sport            2  2019
638  history            1  2019
639   family            7  2019

[640 rows x 3 columns]

In [38]:
conn.commit()

In [40]:
cur = conn.cursor()

In [44]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'fantasy';""")
df_fantasy = pd.DataFrame(cur.fetchall())
df_fantasy.columns = [x[0] for x in cur.description]

In [45]:
df_fantasy

     Genres  Genre_count  year
0   fantasy            8  1980
1   fantasy            8  1981
2   fantasy           13  1982
3   fantasy            6  1983
4   fantasy           12  1984
5   fantasy           20  1985
6   fantasy           10  1986
7   fantasy           16  1987
8   fantasy           13  1988
9   fantasy           11  1989
10  fantasy            6  1990
11  fantasy           12  1991
12  fantasy            8  1992
13  fantasy            7  1993
14  fantasy           10  1994
15  fantasy            9  1995
16  fantasy            3  1996
17  fantasy            5  1997
18  fantasy            1  1998
19  fantasy            3  1999
20  fantasy            3  2000
21  fantasy            3  2001
22  fantasy            8  2002
23  fantasy            4  2003
24  fantasy            5  2004
25  fantasy            7  2005
26  fantasy            4  2006
27  fantasy            4  2007
28  fantasy            8  2008
29  fantasy           14  2009
30  fantasy           15  2010
31  fantasy           12  2011
32  fantasy           11  2012
33  fantasy           10  2013
34  fantasy           13  2014
35  fantasy           15  2015
36  fantasy            9  2016
37  fantasy           12  2017
38  fantasy            7  2018
39  fantasy            3  2019

In [47]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'action';""")
df_action = pd.DataFrame(cur.fetchall())
df_action.columns = [x[0] for x in cur.description]
df_action

    Genres  Genre_count  year
0   action           34  1980
1   action           31  1981
2   action           30  1982
3   action           27  1983
4   action           44  1984
5   action           55  1985
6   action           45  1986
7   action           38  1987
8   action           49  1988
9   action           53  1989
10  action           43  1990
11  action           37  1991
12  action           42  1992
13  action           34  1993
14  action           37  1994
15  action           30  1995
16  action           26  1996
17  action           16  1997
18  action           17  1998
19  action           13  1999
20  action           16  2000
21  action           14  2001
22  action           24  2002
23  action           22  2003
24  action           14  2004
25  action           18  2005
26  action           11  2006
27  action           13  2007
28  action           18  2008
29  action           21  2009
30  action           34  2010
31  action           25  2011
32  action           25  2012
33  action           19  2013
34  action           24  2014
35  action           26  2015
36  action           33  2016
37  action           29  2017
38  action           16  2018
39  action           17  2019

In [49]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'crime';""")
df_crime = pd.DataFrame(cur.fetchall())
df_crime.columns = [x[0] for x in cur.description]
df_crime

   Genres  Genre_count  year
0   crime           26  1980
1   crime           26  1981
2   crime           28  1982
3   crime           23  1983
4   crime           31  1984
5   crime           39  1985
6   crime           43  1986
7   crime           39  1987
8   crime           33  1988
9   crime           37  1989
10  crime           40  1990
11  crime           36  1991
12  crime           36  1992
13  crime           40  1993
14  crime           34  1994
15  crime           19  1995
16  crime           19  1996
17  crime            9  1997
18  crime            9  1998
19  crime           10  1999
20  crime           11  2000
21  crime           13  2001
22  crime           11  2002
23  crime           16  2003
24  crime           15  2004
25  crime           13  2005
26  crime           11  2006
27  crime           10  2007
28  crime           15  2008
29  crime           12  2009
30  crime           16  2010
31  crime           19  2011
32  crime           27  2012
33  crime            9  2013
34  crime           12  2014
35  crime           19  2015
36  crime           26  2016
37  crime           21  2017
38  crime           17  2018
39  crime           21  2019

In [50]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'drama';""")
df_drama = pd.DataFrame(cur.fetchall())
df_drama.columns = [x[0] for x in cur.description]
df_drama

   Genres  Genre_count  year
0   drama           96  1980
1   drama           92  1981
2   drama           90  1982
3   drama          115  1983
4   drama          123  1984
5   drama          114  1985
6   drama          113  1986
7   drama          120  1987
8   drama          116  1988
9   drama          111  1989
10  drama          120  1990
11  drama          130  1991
12  drama          109  1992
13  drama          113  1993
14  drama          131  1994
15  drama          101  1995
16  drama           92  1996
17  drama           79  1997
18  drama           92  1998
19  drama           77  1999
20  drama           82  2000
21  drama           79  2001
22  drama           95  2002
23  drama          114  2003
24  drama          123  2004
25  drama          102  2005
26  drama          126  2006
27  drama          106  2007
28  drama          103  2008
29  drama          110  2009
30  drama          112  2010
31  drama          107  2011
32  drama          120  2012
33  drama          124  2013
34  drama          117  2014
35  drama          128  2015
36  drama          120  2016
37  drama          124  2017
38  drama          105  2018
39  drama          124  2019

In [55]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'Sci-Fi';""")
df_SciFi = pd.DataFrame(cur.fetchall())
df_SciFi.columns = [x[0] for x in cur.description]
df_SciFi

    Genres  Genre_count  year
0   Sci-Fi           12  1980
1   Sci-Fi            7  1981
2   Sci-Fi           16  1982
3   Sci-Fi           14  1983
4   Sci-Fi           18  1984
5   Sci-Fi           16  1985
6   Sci-Fi           22  1986
7   Sci-Fi           13  1987
8   Sci-Fi           12  1988
9   Sci-Fi           10  1989
10  Sci-Fi           14  1990
11  Sci-Fi           12  1991
12  Sci-Fi            4  1992
13  Sci-Fi            8  1993
14  Sci-Fi            4  1994
15  Sci-Fi            6  1995
16  Sci-Fi           13  1996
17  Sci-Fi            9  1997
18  Sci-Fi            2  1998
19  Sci-Fi            6  1999
20  Sci-Fi            6  2000
21  Sci-Fi           10  2001
22  Sci-Fi           11  2002
23  Sci-Fi           10  2003
24  Sci-Fi            7  2004
25  Sci-Fi            5  2005
26  Sci-Fi            5  2006
27  Sci-Fi           16  2007
28  Sci-Fi           11  2008
29  Sci-Fi            9  2009
30  Sci-Fi            9  2010
31  Sci-Fi           11  2011
32  Sci-Fi            7  2012
33  Sci-Fi           14  2013
34  Sci-Fi           14  2014
35  Sci-Fi            9  2015
36  Sci-Fi            7  2016
37  Sci-Fi           12  2017
38  Sci-Fi            9  2018
39  Sci-Fi           11  2019

In [56]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'adventure';""")
df_adventure = pd.DataFrame(cur.fetchall())
df_adventure.columns = [x[0] for x in cur.description]
df_adventure

       Genres  Genre_count  year
0   adventure           24  1980
1   adventure           26  1981
2   adventure           25  1982
3   adventure           18  1983
4   adventure           29  1984
5   adventure           42  1985
6   adventure           23  1986
7   adventure           23  1987
8   adventure           14  1988
9   adventure           18  1989
10  adventure           13  1990
11  adventure           17  1991
12  adventure           10  1992
13  adventure            7  1993
14  adventure           15  1994
15  adventure           16  1995
16  adventure           10  1996
17  adventure            6  1997
18  adventure            9  1998
19  adventure            7  1999
20  adventure            4  2000
21  adventure            5  2001
22  adventure           11  2002
23  adventure           10  2003
24  adventure            7  2004
25  adventure            5  2005
26  adventure            5  2006
27  adventure            7  2007
28  adventure            7  2008
29  adventure            7  2009
30  adventure           15  2010
31  adventure           19  2011
32  adventure           13  2012
33  adventure           11  2013
34  adventure           14  2014
35  adventure           11  2015
36  adventure           14  2016
37  adventure           15  2017
38  adventure           13  2018
39  adventure           11  2019

In [57]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'comedy';""")
df_comedy = pd.DataFrame(cur.fetchall())
df_comedy.columns = [x[0] for x in cur.description]
df_comedy

    Genres  Genre_count  year
0   comedy           75  1980
1   comedy           54  1981
2   comedy           62  1982
3   comedy           65  1983
4   comedy           92  1984
5   comedy          102  1985
6   comedy           88  1986
7   comedy           92  1987
8   comedy           81  1988
9   comedy           81  1989
10  comedy           91  1990
11  comedy           91  1991
12  comedy           79  1992
13  comedy           61  1993
14  comedy           68  1994
15  comedy           53  1995
16  comedy           63  1996
17  comedy           72  1997
18  comedy           68  1998
19  comedy           66  1999
20  comedy           69  2000
21  comedy           74  2001
22  comedy           66  2002
23  comedy           79  2003
24  comedy           83  2004
25  comedy           92  2005
26  comedy           80  2006
27  comedy           90  2007
28  comedy           82  2008
29  comedy           89  2009
30  comedy           92  2010
31  comedy           87  2011
32  comedy           83  2012
33  comedy           86  2013
34  comedy           88  2014
35  comedy           83  2015
36  comedy           66  2016
37  comedy           54  2017
38  comedy           85  2018
39  comedy           64  2019

In [59]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'thriller';""")
df_thriller = pd.DataFrame(cur.fetchall())
df_thriller.columns = [x[0] for x in cur.description]
df_thriller

      Genres  Genre_count  year
0   thriller           23  1980
1   thriller           32  1981
2   thriller           22  1982
3   thriller           19  1983
4   thriller           25  1984
5   thriller           23  1985
6   thriller           34  1986
7   thriller           35  1987
8   thriller           37  1988
9   thriller           29  1989
10  thriller           42  1990
11  thriller           33  1991
12  thriller           35  1992
13  thriller           43  1993
14  thriller           43  1994
15  thriller           31  1995
16  thriller           16  1996
17  thriller           15  1997
18  thriller           16  1998
19  thriller           14  1999
20  thriller           22  2000
21  thriller           13  2001
22  thriller           21  2002
23  thriller           24  2003
24  thriller           29  2004
25  thriller           27  2005
26  thriller           19  2006
27  thriller           19  2007
28  thriller           24  2008
29  thriller           16  2009
30  thriller           30  2010
31  thriller           36  2011
32  thriller           32  2012
33  thriller           39  2013
34  thriller           37  2014
35  thriller           33  2015
36  thriller           40  2016
37  thriller           34  2017
38  thriller           28  2018
39  thriller           32  2019

In [60]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'musical';""")
df_musical = pd.DataFrame(cur.fetchall())
df_musical.columns = [x[0] for x in cur.description]
df_musical

     Genres  Genre_count  year
0   musical            3  1980
1   musical            6  1981
2   musical            5  1982
3   musical            6  1983
4   musical            4  1984
5   musical            3  1985
6   musical            6  1986
7   musical            7  1987
8   musical            7  1988
9   musical            1  1989
10  musical            6  1990
11  musical            3  1991
12  musical            1  1992
13  musical            3  1993
14  musical            2  1994
15  musical            3  1995
16  musical            0  1996
17  musical            0  1997
18  musical            2  1998
19  musical            0  1999
20  musical            2  2000
21  musical            1  2001
22  musical            4  2002
23  musical            0  2003
24  musical            2  2004
25  musical            1  2005
26  musical            4  2006
27  musical            2  2007
28  musical            2  2008
29  musical            3  2009
30  musical            3  2010
31  musical            1  2011
32  musical            5  2012
33  musical            5  2013
34  musical            2  2014
35  musical            3  2015
36  musical            2  2016
37  musical            3  2017
38  musical            3  2018
39  musical            4  2019

In [61]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'western';""")
df_western = pd.DataFrame(cur.fetchall())
df_western.columns = [x[0] for x in cur.description]
df_western

     Genres  Genre_count  year
0   western            5  1980
1   western            4  1981
2   western            6  1982
3   western            3  1983
4   western            1  1984
5   western            2  1985
6   western            3  1986
7   western            1  1987
8   western            2  1988
9   western            1  1989
10  western            4  1990
11  western            3  1991
12  western            2  1992
13  western            5  1993
14  western            4  1994
15  western            5  1995
16  western            1  1996
17  western            0  1997
18  western            0  1998
19  western            1  1999
20  western            0  2000
21  western            1  2001
22  western            1  2002
23  western            2  2003
24  western            2  2004
25  western            1  2005
26  western            1  2006
27  western            0  2007
28  western            2  2008
29  western            2  2009
30  western            2  2010
31  western            0  2011
32  western            0  2012
33  western            2  2013
34  western            3  2014
35  western            1  2015
36  western            1  2016
37  western            1  2017
38  western            2  2018
39  western            2  2019

In [63]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'romance';""")
df_romance = pd.DataFrame(cur.fetchall())
df_romance.columns = [x[0] for x in cur.description]
df_romance

     Genres  Genre_count  year
0   romance           24  1980
1   romance           18  1981
2   romance           16  1982
3   romance           24  1983
4   romance           38  1984
5   romance           36  1985
6   romance           31  1986
7   romance           37  1987
8   romance           31  1988
9   romance           24  1989
10  romance           30  1990
11  romance           29  1991
12  romance           31  1992
13  romance           28  1993
14  romance           28  1994
15  romance           31  1995
16  romance           18  1996
17  romance           20  1997
18  romance           22  1998
19  romance           15  1999
20  romance           19  2000
21  romance           18  2001
22  romance           12  2002
23  romance           12  2003
24  romance           12  2004
25  romance           13  2005
26  romance           10  2006
27  romance           22  2007
28  romance           16  2008
29  romance           18  2009
30  romance           28  2010
31  romance           20  2011
32  romance           18  2012
33  romance           21  2013
34  romance           18  2014
35  romance           24  2015
36  romance           12  2016
37  romance            8  2017
38  romance           18  2018
39  romance           14  2019

In [64]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'war';""")
df_war = pd.DataFrame(cur.fetchall())
df_war.columns = [x[0] for x in cur.description]
df_war

   Genres  Genre_count  year
0     war            4  1980
1     war            2  1981
2     war            4  1982
3     war            6  1983
4     war            7  1984
5     war            7  1985
6     war            3  1986
7     war            3  1987
8     war            9  1988
9     war            8  1989
10    war            7  1990
11    war            3  1991
12    war            3  1992
13    war            3  1993
14    war            3  1994
15    war            1  1995
16    war            1  1996
17    war            0  1997
18    war            0  1998
19    war            0  1999
20    war            0  2000
21    war            1  2001
22    war            2  2002
23    war            5  2003
24    war            4  2004
25    war            0  2005
26    war            2  2006
27    war            3  2007
28    war            2  2008
29    war            4  2009
30    war            0  2010
31    war            1  2011
32    war            2  2012
33    war            1  2013
34    war            0  2014
35    war            1  2015
36    war            1  2016
37    war            0  2017
38    war            4  2018
39    war            1  2019

In [65]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'horror';""")
df_horror = pd.DataFrame(cur.fetchall())
df_horror.columns = [x[0] for x in cur.description]
df_horror

    Genres  Genre_count  year
0   horror           19  1980
1   horror           32  1981
2   horror           30  1982
3   horror           19  1983
4   horror           21  1984
5   horror           25  1985
6   horror           32  1986
7   horror           27  1987
8   horror           36  1988
9   horror           37  1989
10  horror           39  1990
11  horror           22  1991
12  horror           15  1992
13  horror           17  1993
14  horror           13  1994
15  horror           11  1995
16  horror           11  1996
17  horror           13  1997
18  horror            6  1998
19  horror           15  1999
20  horror           10  2000
21  horror           11  2001
22  horror           14  2002
23  horror           10  2003
24  horror           12  2004
25  horror           20  2005
26  horror           11  2006
27  horror           27  2007
28  horror           30  2008
29  horror           27  2009
30  horror           24  2010
31  horror           46  2011
32  horror           47  2012
33  horror           44  2013
34  horror           42  2014
35  horror           38  2015
36  horror           43  2016
37  horror           42  2017
38  horror           32  2018
39  horror           43  2019

In [66]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'sport';""")
df_sport = pd.DataFrame(cur.fetchall())
df_sport.columns = [x[0] for x in cur.description]
df_sport

   Genres  Genre_count  year
0   sport            3  1980
1   sport            4  1981
2   sport            3  1982
3   sport            6  1983
4   sport            3  1984
5   sport            3  1985
6   sport           12  1986
7   sport            1  1987
8   sport            4  1988
9   sport            3  1989
10  sport            6  1990
11  sport            5  1991
12  sport            5  1992
13  sport            1  1993
14  sport            7  1994
15  sport            2  1995
16  sport            2  1996
17  sport            3  1997
18  sport            0  1998
19  sport            0  1999
20  sport            1  2000
21  sport            0  2001
22  sport            0  2002
23  sport            0  2003
24  sport            2  2004
25  sport            3  2005
26  sport            1  2006
27  sport            3  2007
28  sport            1  2008
29  sport            3  2009
30  sport            0  2010
31  sport            4  2011
32  sport            5  2012
33  sport            2  2013
34  sport            2  2014
35  sport            1  2015
36  sport            3  2016
37  sport            1  2017
38  sport            1  2018
39  sport            2  2019

In [68]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'history';""")
df_history = pd.DataFrame(cur.fetchall())
df_history.columns = [x[0] for x in cur.description]
df_history

     Genres  Genre_count  year
0   history            3  1980
1   history            6  1981
2   history            4  1982
3   history            1  1983
4   history            5  1984
5   history            1  1985
6   history            2  1986
7   history            2  1987
8   history            2  1988
9   history            6  1989
10  history            5  1990
11  history            6  1991
12  history            0  1992
13  history            3  1993
14  history            1  1994
15  history            0  1995
16  history            1  1996
17  history            1  1997
18  history            2  1998
19  history            1  1999
20  history            0  2000
21  history            1  2001
22  history            0  2002
23  history            1  2003
24  history            1  2004
25  history            0  2005
26  history            1  2006
27  history            1  2007
28  history            1  2008
29  history            2  2009
30  history            4  2010
31  history            1  2011
32  history            3  2012
33  history            0  2013
34  history            2  2014
35  history            4  2015
36  history            4  2016
37  history            0  2017
38  history            1  2018
39  history            1  2019

In [69]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'family';""")
df_family = pd.DataFrame(cur.fetchall())
df_family.columns = [x[0] for x in cur.description]
df_family

    Genres  Genre_count  year
0   family            6  1980
1   family            7  1981
2   family           11  1982
3   family            5  1983
4   family           12  1984
5   family           20  1985
6   family           12  1986
7   family           14  1987
8   family            7  1988
9   family            6  1989
10  family            5  1990
11  family            9  1991
12  family            8  1992
13  family           10  1993
14  family           14  1994
15  family           10  1995
16  family            8  1996
17  family            4  1997
18  family            4  1998
19  family            7  1999
20  family            8  2000
21  family            6  2001
22  family            8  2002
23  family            6  2003
24  family            3  2004
25  family            2  2005
26  family            7  2006
27  family            4  2007
28  family            5  2008
29  family           11  2009
30  family           10  2010
31  family            9  2011
32  family            8  2012
33  family           19  2013
34  family           13  2014
35  family            7  2015
36  family            5  2016
37  family            6  2017
38  family           11  2018
39  family            7  2019