In [1]:
# Import necessary packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
list_of_genres = ['children', 'fantasy', 'magical', 'mystery', 'action', 'crime', 'drama', 'science fiction', 'adventure', 'biography', 'comedy', 'thriller', 'musical', 'western', 'romance', 'animation', 'war', 'horror', 'sport', 'political', 'saga', ' satire', 'social']
war_grades = {'children':1, 'fantasy':3, 'magical':3, 'mystery':4, 'action':7, 'crime':8, 'drama':7, 'SF':5, 'adventure': 4, 'biography':5, 'comedy':4, 'thriller':4, 'musical':4, 'western':8, 'romance': 2, 'war':10, 'horror':4, 'sport':3, 'political':6, 'saga':3, 'satire':2, 'social':4, 'animation':2}
war_grades_df = pd.DataFrame(war_grades.items(), columns=['Genres', 'Grade'])
war_grades_df.set_index('Genres')

           Grade
Genres
children       1
fantasy        3
magical        3
mystery        4
action         7
crime          8
drama          7
SF             5
adventure      4
biography      5
comedy         4
thriller       4
musical        4
western        8
romance        2
war           10
horror         4
sport          3
political      6
saga           3
satire         2
social         4
animation      2

In [3]:
#Works
def get_IMDB_names(url):
    rn = requests.get(url)
    soup = BeautifulSoup(rn.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    names = []
    for container in movie_containers:
# Extract:
# The name
        name = container.select('img')[0]['alt']
        names.append(name)
    return names

In [4]:
def get_IMDB_years(url):
    ry = requests.get(url)
    soup = BeautifulSoup(ry.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    years = []
    for container in movie_containers:
        # The year
        year = container.find('span', class_ = 'lister-item-year').text
        year = str(year)
        years.append(year)
        year = str(year)
        year = year[1:5]
    return years

In [5]:
def get_IMDB_genres(url):
    rg = requests.get(url)
    soup = BeautifulSoup(rg.text, 'html.parser')
    movie_containers = soup.find_all('div', class_ = 'lister-item mode-advanced')
    genres =[] 
    for container in movie_containers:
        genre_container = container.find('p')
        genre = genre_container.find('span', class_='genre')
        #genre = genre.text
        #genre = str(genre)
        #genre = genre[1:]
        genres.append(genre)
    return genres

In [6]:
def gen_url(year):
    url = 'https://www.imdb.com/search/title/?release_date='+ str(year) + '-01-01,' + str(year) + '-12-31&user_rating=1.0,10.0&countries=us&sort=user_rating,desc&count=250'
    return url

In [8]:
#function that will get the violence grade for a year
def get_IMDB_table(year):
    url = 'https://www.imdb.com/search/title/?release_date='+ str(year) + '-01-01,' + str(year) + '-12-31&user_rating=1.0,10.0&countries=us&sort=user_rating,desc&count=250'
    names = get_IMDB_names(url)
    #years = get_IMDB_years(url)
    genres = get_IMDB_genres(url)
    initial_df = pd.DataFrame({'name': names, 'genre': genres})
    #turn BS elements into strings
    initial_df['genre']=initial_df['genre'].map(lambda x: str(x))
    # add a year column             
    years = [year]*len(initial_df)
    initial_df['year'] = years
    #create a list with all the genres from the "Genres" column and lower the case of each element
    list_year_1 = initial_df['genre'].to_list()
    lower_list = [x.lower() for x in list_year_1]
    #separate the genres where a movie has two or more genres
    list_final = [x.split() for x in lower_list]
    list_year = []
    for sublist in list_final:
        for item in sublist:
            if item == '<span':
                continue
            elif item == 'class="genre">':
                continue
            elif item == '</span>':
                continue
            else:
                list_year.append(item)
    #some genres have comma attached, take off comma
            list_year_no_comma = []
            for item in list_year:
                if ',' in item:
                        list_year_no_comma.append(item[:-1])
                else:
                            list_year_no_comma.append(item)
    #return list_year_no_comma
    # Create a dictionary key- genres, value = number of movies of a certain genre
    genre_counts = {}
# Iterate through genre list
    for genre in list_year_no_comma:
# Update word counts - keep only genres in the general list of genres
        if genre in list_of_genres:
            genre_counts[genre] = genre_counts.get(genre, 0) + 1 #Get previous entry, update by 1
        else:
            continue
#Set 'Genres' as df index
    df_to_plot = pd.DataFrame(genre_counts.items(), columns=['Genres', 'Year'])
    #return df_to_plot
    df_to_plot.set_index('Genres')
# Join the the 2 Dataframes on 'Genres' column and replace NANs with mean value.
    Zeitgeist_df = war_grades_df.join(df_to_plot.set_index('Genres'), on='Genres')
    Zeitgeist_df = Zeitgeist_df.fillna(5)
#Create a column year_war_grade 
    Zeitgeist_df['year_war_grade'] = Zeitgeist_df['Grade']*Zeitgeist_df['Year']
# Add a year column
    year = year
    years_final = [year]*len(Zeitgeist_df)
    Zeitgeist_df['Year'] = years_final
    del Zeitgeist_df['Grade']
           
    return Zeitgeist_df
#Zeitgeist1980 = get_table_after_1996(1980)
#Zeitgeist1980
#get_IMDB_table(1980)

In [9]:
pieces = []
for year in [*range(1999, 2004,1)]:
    df_year = get_IMDB_table(year)
    pieces.append(df_year)
df_all = pd.concat(pieces)
df_all
df_all.to_csv('IMDB_war_grade_1999_2004.csv', index=False, header= True)

In [10]:
grouped = df_all.groupby(['Year'])['year_war_grade'].sum()
grouped.to_csv('grouped_war_grade_IMDB_9_11.csv', index='Year', header=True)

In [ ]:
#Works
#function that will create an url when you input the year
def gen_url(year):
    url = 'https://www.imdb.com/search/title/?release_date='+ str(year) + '-01-01,' + str(year) + '-12-31&user_rating=1.0,10.0&countries=us&sort=user_rating,desc&count=250'
    return url

In [ ]:
x = gen_url(1980)

In [ ]:
df = get_IMDB_table(x)
df.head()
type(df.genre[0])

In [ ]:
#turn objects in genre column into strings
#df.genre[0] = df.genre[0].text
df['genre']=df['genre'].map(lambda x: str(x))
#df['genre']= df['genre'].map(lambda x: x[20:-7])
df['genre'].head()
#df.genre[0]=df.genre[0][20:-7]

#Function that will scrape a wikipedia page with a list of movies by year, add the year as a new column and return 
# a data frame.

def get_table(year):
    url = 'https://www.imdb.com/search/title/?release_date='+ str(year) + '-01-01,' + str(year) + '-12-31&user_rating=1.0,10.0&countries=us&sort=user_rating,desc&count=250'
    df = get_IMDB_table(url)
    return df.head()
# add a year column             
    #years = [year]*len(df)
    #df['Year'] = years
#create a list with all the genres from the "Genres" column and lower the case of each element
    #list_year_1 = df['genres'].to_list()
    #lower_list = [x.lower() for x in list_year_1]
#separate the genres where a movie has two or more genres
    #list_final = [x.split() for x in lower_list]
    #list_year = []
    #for sublist in list_final:
        #for item in sublist:
            #list_year.append(item)  
#some genres have comma attached, take off comma
    #list_year_no_comma = []
    #for item in list_year:
        #if ',' in item:
         #               list_year_no_comma.append(item[:-1])
        #else:
        #                    list_year_no_comma.append(item)
#print(list_year_no_comma)
# Create a dictionary key- genres, value = number of movies of a certain genre
        #genre_counts = {}
# Iterate through genre list
        #for genre in list_year_no_comma:
# Update word counts - keep only genres in the general list of genres
            #if genre in list_of_genres:
                #genre_counts[genre] = genre_counts.get(genre, 0) + 1 #Get previous entry, update by 1
            #else:
                #continue
#Set 'Genres' as df index
        #df_to_plot = pd.DataFrame(genre_counts.items(), columns=['Genres', 'year_1999'])
        #df_to_plot.set_index('Genres')
# Join the the 2 Dataframes on 'Genres' column and replace NANs with mean value.
        #Zeitgeist_df1 = war_grades_df.join(df_to_plot.set_index('Genres'), on='Genres')
        #Zeitgeist_df1 = Zeitgeist_df1.fillna(5)
#Create a column year_war_grade 
        #Zeitgeist_df1['year_war_grade'] = Zeitgeist_df1['Grade']*Zeitgeist_df1['year_1999']
            #Zeitgeist_df1
# Add a year column
            #year = 1999
        #years_final = [year]*len(Zeitgeist_df1)
        #Zeitgeist_df1['Year'] = years_final
           
    #return Zeitgeist_df1
#Zeitgeist1981 = get_table_after_1996(1981)
#Zeitgeist1981
get_table(1981)

In [ ]:
pieces = []
for year in [*range(1999, 2004,1)]:
    url = 'http://en.wikipedia.org/wiki/List_of_American_films_of_'+ str(year)
    df = get_table_after_1996(year)
    pieces.append(df)

In [ ]:
df_all = pd.concat(pieces)
df_all
df_all.to_csv('9_11.csv', index=False, header= True)

In [ ]:
grouped = df_all.groupby(['Year'])['year_war_grade'].sum()
grouped.to_csv('grouped.csv', index='Year', header=True)

In [ ]:
grouped