In [2]:
# Import necessary packages
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [26]:
df = pd.read_csv('Top_10_1950to2019.csv')
df['Titles'][0][:-1]

"King Solomon's Mines"

In [27]:
df['Titles'] = df['Titles'].astype(str)

In [28]:
df['Titles']=df['Titles'].map(lambda x: x[:-1])

In [29]:
df

                               Titles  Year
0                King Solomon's Mines  1950
1                       All About Eve  1950
2                          Cinderella  1950
3                  Annie Get Your Gun  1950
4                 Father of the Bride  1950
..                                ...   ...
696                             Joker  2019
697  Star Wars: The Rise of Skywalker  2019
698                       Toy Story 4  2019
699                           Aladdin  2019
700           Jumanji: The Next Level  2019

[701 rows x 2 columns]